<div class="row-fluid list-index">
	<div class="span4">
		<h3>Setup</h3>
		<ul class="unstyled">
			{% for post in site.categories.en %}
			{% if post.categories contains "emerald" %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				{% for tag in post.tags %}
				{% if tag != 'setup' %}
				<div class="label {% if tag == 'developer' %}label-warning{% else %}label-info{% endif %}">{{ tag }}</div>
				{% endif %}
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>


	</div>
	<div class="span4">

	</div>
	<div class="span4">

	</div>
</div>