---
layout: post
---
<div class="article">
	{{ content }}
</div>

</article>

{% if page.categories contains 'news' or page.categories contains 'video' %}

{% else %}
<button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#index" style="margin-top: 20px">
	<img src="/assets/img/control.png" alt="" id="togg-icon"/>
	Other articles
</button>

<div id="index" class="collapse fade">
	<article class="post">
		{% if page.categories contains 'en' %}
		{% if page.categories contains 'cobalt' %}
		{% include en-cobalt.html %}
		{% else %}
		{% include en-emerald.html %}
		{% endif %}
		{% else %}
		{% if page.categories contains 'emerald' %}
		{% include ru-emerald.html %}
		{% else %}
		{% include ru-cobalt.html %}
		{% endif %}
		{% endif %}
	</article>
</div>
{% endif %}

<article class="post">
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
